<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The NYTimes Crossword Trainer</title>
	<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
	<meta name="description" content="SundayHereWeCome">
	<meta name="author" content="DanFeusse">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
	<link rel="stylesheet" href="">
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

    <script src="https://unpkg.com/vue-material"></script>
</head>

<body>

	<div id="app">
		<!--
		<div class="md-layout md-gutter">
    		<div class="md-layout-item">1</div>
    		<div class="md-layout-item">2</div>
    		<div class="md-layout-item">3</div>
  		</div>
  		-->
  		<div>
  			<p>Questions answered:</p>
  			<p id="timer"></p>
  		</div>

  		<div>
  			<!-- question -->
  			{{ crosswordQuestion }}
  		</div>

  		<p> Starting Place: </p>
  		<input v-model="firstQuestionPlace" placeholder="edit me">
  		
  		<p>Ending Place: </p>
  		<input v-model="lastQuestionPlace" placeholder="edit me">
  		<p>End of clues is: {{ lastQuestionPlace }}</p>

  		<h3 v-if="crosswordQuestion == null">Question here</h3>
		<div v-else>
			<h2> {{ crosswordQuestion.Question }} </h2>
			<p> {{ crosswordQuestion.Answer.length }} letters - {{ crosswordQuestion.Day }} - Frequency: {{ crosswordQuestion.Frequency }} </p>

			<br>

			<p v-if="this.showAnswer == false"></p>
			<h3 v-else> {{ crosswordQuestion.Answer }} </h3>

			<br>

			<p v-if="this.showExplanation == false"></p>
			<span v-else> {{ crosswordQuestion.Explanation }} </span>
		</div>

  		<!-- for the above, just render them all, but only show the first. and then have functions to toggle a boolean for each, and then have if-true for each div. and the next button resets all -->

  		<button type="button" @click="buttonShowAnswer()">Answer</button>
  		<button type="button" @click="buttonShowExplanation()">Explanation</button>
  		<button type="button" @click="getQuestion()">New Crossword Question</button>

	</div> <!-- end of #app div -->



	<script type="text/javascript">

		function startTimer()
			{
			    var startTimestamp = moment().startOf("day");
			    setInterval(function() {
			        startTimestamp.add(1, 'second');
			        document.getElementById('timer').innerHTML = 
			            "Time studied: " + startTimestamp.format('HH:mm:ss');
			    }, 1000);
			}

			startTimer();

		var app = new Vue({
	  		el: '#app',
	  		methods: {
	  			getQuestion: function() {
	  				let numQuestions = this.crosswordList.length;
	  				console.log(numQuestions)
	  				this.crosswordQuestion = this.crosswordList[_.random(this.firstQuestionPlace, numQuestions)];

	  				console.log('******************');
	  				console.log(this.firstQuestionPlace)
	  				console.log('******************');

	  				// !!!!!! when picking which questions to get, just need to change: numQuestions

	  				console.log(this.crosswordQuestion);
	  				//return this.crosswordList[_.random(0, numQuestions)];
	  				this.showAnswer = false;
	  				this.showExplanation = false;
	  			},
	  			buttonShowAnswer: function() {
	  				this.showAnswer = true;
	  			},
	  			buttonShowExplanation: function() {
	  				this.showExplanation = true;
	  			}
	  		},
	  		data: {
	  			firstQuestionPlace: 0,
	  			lastQuestionPlace: 38086,
    			clues: [
    				{"clue": "What is the capital of Ohio?"},
    				{"clue": "What is the capital of Michigan?"}
    			],
    			crosswordList: null,
    			crosswordQuestion: null,
    			showAnswer: false,
    			showExplanation: false,
    			numOfQuestionsAnswered: 0,
    			startTimestamp: moment().startOf("day")
	  		},
	  		mounted() {
	  			fetch("historicCrosswordData.json")
  					.then(response => response.json())
  					.then(data => (this.crosswordList = data))
  					.then(data => (
  						this.crosswordQuestion = data[_.random(0,300)]
  					))
  					.then(data => (
  						//this.lastQuestionPlace = data.length
  						console.log(data)
  					))
  					//.then(console.log(this.crosswordList));
	  		}
		})

	</script>
</body>
</html>